<html>
  <head>
    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{global.baseUrl}" />

    <!-- Meta Tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">

    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css" />

  </head>
  <body class="{body.class}">
    <!-- Page Wrapper -->
    <div class="wrapper">
    <!-- Header -->
      <div class="header">
        <!-- logo -->
        <a class="logo" href="/"></a>
        <!-- Navigator -->
        <ul class="menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/account/create" class="loggedOut">Sign Up</a>
          </li>
          <li>
            <a href="/session/create" class="loggedOut">Login</a>
          </li>
          <li>
            <a href="/checks/all" class="loggedIn">Dashboard</a>
          </li>
          <li>
            <a href="/account/edit" class="loggedIn">Account Settings</a>
          </li>
          <li>
            <a href="#" class="loggedIn">Logout</a>
          </li>
        </ul>
      </div>
    <!-- Page-Specific Content -->
    <div class="content">
